/* styles.css */
@font-face {
    font-family: "GmarketBold";
    src: url("../src/font/GmarketSansTTFBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "GmarketMedium";
    src: url("../src/font/GmarketSansTTFMedium.ttf") format("truetype");
  }
  
  * {
    font-family: "GmarketMedium";
  }
  body {
    padding-top: 150px;
    background-color: #eff2f8;
  }
  body::-webkit-scrollbar {
    display: none;
  }

body {
      /* 원하는 폰트명 사용 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("");
   
}

.typing-effect-container {
    text-align: center;
}

.typing-effect {
    font-size: 36px; /* 원하는 폰트 크기 사용 */
    color: #000000;
    display: inline-block;
}

#typing-text {
    display: inline;
    border-right: 1px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 5s steps(60, end);
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#home, #courses, #photo {
    display: none;
}

.text-rainbow {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
    transform: perspective(400px) rotateX(45deg);
  
    font-weight: bold;
    font-size: 70px;
  }


  body {
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

.container-box {
    position: relative;
    width: 500px;
    height: 500px;
    border: solid 5px #000000;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contents h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}
.contents ul {
    
    margin-top: 50px;
    
}
.contents li {
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    border-bottom: solid 1px #000000;
}
.inputlist {
    text-align: center;
    margin-top: 50px;
}
.inputlist h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
input {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 500px;
    height: 30px;
}
button {
  
    font-weight: bold;
    position: absolute;
    right: 50px;
    text-align: center;
    background-color: #efd1d1;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
}

 
